@page
@model VirtMuseWeb.Pages.Resources.MetaData.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MetaData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MetaData.NameOfPiece)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MetaData.NameOfPiece)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MetaData.DateOfCreation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MetaData.DateOfCreation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MetaData.FurtherInformation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MetaData.FurtherInformation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MetaData.License)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MetaData.License)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MetaData.ResourceID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MetaData.ResourceID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MetaData.Resource)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MetaData.Resource.ID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MetaData.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
