@page
@model VirtMuseWeb.Pages.Resources.Creators.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Creator</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Creator.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Creator.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Creator.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Creator.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Creator.DateOfDeath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Creator.DateOfDeath)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Creator.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
