@page
@model VirtMuseWeb.Pages.Resources.MetaDataSources.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MetaDataSource[0].MetaData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaDataSource[0].Source)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MetaDataSource) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MetaData.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source.ID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
