@page
@model VirtMuseWeb.Pages.Resources.MetaDatas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MetaData[0].NameOfPiece)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MetaData[0].DateOfCreation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MetaData[0].FurtherInformation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MetaData[0].License)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaData[0].Resource)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MetaData) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfPiece)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FurtherInformation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.License)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resource.ID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
